{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}


  <div class="container">
    
    {% if message %}
    <br>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert"></button>
      <h4>Success! {{ message }}</h4>
    </div>
    {% endif %}
    
    <form class="form-horizontal" method="POST" action="/add/curriculum">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Add To The Curriculum</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Title *</label>  
      <div class="col-md-6">
      <input id="title" name="title" type="text" placeholder="Python!" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="link">Link</label>  
      <div class="col-md-6">
      <input id="link" name="link" type="text" placeholder="Learning Experience or GitHub repo" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="instructor_id">Instructor</label>
      <div class="col-md-4">
        <select id="instructor_id" name="instructor_id" class="form-control">
          {% for instructor in instructors %}
            <option value="{{ instructor.id }}">{{ instructor.first }} {{ instructor.last }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="type_id">Type *</label>
      <div class="col-md-4">
        <select id="type_id" name="type_id" class="form-control">
          {% for type in types %}
            <option value="{{ type.id }}">{{ type.type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="topic_id">Topic *</label>
      <div class="col-md-4">
        <select id="topic_id" name="topic_id" class="form-control">

          {% for topic in topics %}
            <option value="{{ topic.id }}">{{ topic.topic }}</option>
          {% endfor %}

        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="link">Learning Experience Date *</label>  
      <div class="col-md-6">
       <input type="date" class="datepicker" id="datepicker0" name="assignmentDt" required="">      
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="link">Feedback Date *</label>  
      <div class="col-md-6">
       <input type="date" class="datepicker" id="datepicker1" name="feedbackDt" required="">      
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Add This Learning Experience</label>
      <div class="col-md-4">
        <button type="submit" id="singlebutton" class="btn btn-primary">Add</button>
      </div>
    </div>
    
    
    </fieldset>
    </form>
    
    <h4 class="center">Inputs with * are required to submit</h4>
    
  </div>

{% endblock %}