{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    
    <h2 class='center'>Welcome to Geedback</h2>
    <h3 class='center'>Look at all these assignments…</h3>
    <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th><a class='sort' href="/sortByTitle">Title</a></th>
      <th><a class='sort' href="/sortByInstructor">Instructor</a></th>
      <th><a class='sort' href="/sortByType">Type</a></th>
      <th><a class='sort' href="/sortByDate">Date</a></th>
    </tr>
  </thead>
  <tbody>
   {% for assignment in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="{{ assignment.link }}" alt="{{ assignment.title }}">{{ assignment.title }}</a></td>
   
      {% if assignment.instructor_id === 0 %}
       
      <td>-</td>

      {% else %}
      <td>{{ assignment.first }}</td>

       {% endif %}
  
      <td>{{ assignment.type }}</td>
      <td>{{ assignment.assignmentDt|date('Y-m-d') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 

  </div>

{% endblock %}
