{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
 
    <div class="row">
    	<div class="col-md-12">
      	<h3>{{data[0].type }} Feedback from All Students</h3>
        <br>
    	</div>
    </div>
 
    <table class="table table-striped table-hover ">
      
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Date</th>
          <th>Average</th>
        </tr>
      </thead>
      
      <tbody>
       {% for obj in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td><a href="/instructors/{{ obj.type_id }}/{{ obj.id }}" alt="{{ obj.title }}">{{ obj.title }}</a></td>
          <td>{{ obj.assignmentDt|date('Y-m-d') }}</td>
          <td><a href="/instructors/{{ obj.type_id }}/{{ obj.id }}" alt="{{ obj.title }}">{{ Math.round(obj.avg * 10)/10 }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    
    </table> 

  </div>

{% endblock %}
