{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
 
    <div class="row">
      <div class="col-md-12 center">
        <h3>Instructor Dashboard</h3>
        <br>
      </div>
    </div>

    <div class="row">
      
      {% for type in data %}
      <div class="col-md-4">
        <a href="/instructors/{{ type.type_id }}">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{ type.type }} Average:</h3>
          </div>
          <div class="panel-body center">
            <h4>{{ Math.round(type.avg * 10)/10 }}</h4>
            
                 {% if type.avg < 3  %}
                  <span class="glyphicon glyphicon-fire orange" aria-hidden="true"></span>
              


                 {% elseif type.avg < 3.4 %}
                  <span class="glyphicon glyphicon-thumbs-up green " aria-hidden="true"></span>
          


                 {% else %}
                  <span class="glyphicon glyphicon-heart red" aria-hidden="true"></span>
                 {% endif %}





            



            <!-- <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: "{{ (Math.round(type.avg * 10)/10) *20}}"%"></div>
            </div> -->
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
 
  </div>
  
  <hr>
  
  <div class="row">
    <h2>Students</h2>
    <table class="table table-striped table-hover ">
      
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Average</th>
        </tr>
      </thead>
      
      <tbody>
       {% for student in students %}
        <tr>
          <td>{{ loop.index }}</td>
          <td><a href="/instructors/student/{{ student.id }}">{{ student.first }}</a></td>
          <td>{{ student.last }}</td>
          <td>{{ Math.round(student.avg * 10)/10 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    
    </table> 


{% endblock %}
