<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Feedback Tracker</a>
        </div>
    
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/students" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/students">Home</a></li>
              <li><a href="/students/all">All</a></li>
              
              <li class="divider"></li>
              
              <li><a href="/students/1">Exercises</a></li>
              <li><a href="/students/2">Homework</a></li>
              <li><a href="/students/3">Lectures</a></li>
              
              <li class="divider"></li>
              
              <li><a href="/students/4">Projects</a></li>
              <li><a href="/students/5">Stretch Goals</a></li>
              <li><a href="/students/6">Warmups</a></li>
            </ul>
          </li> <!-- End of students dopdown -->
          
          <li><a href="/instructors" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instructors<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/instructors">Home</a></li>
              <li><a href="/instructors/all">All</a></li>
              
              <li class="divider"></li>
              
              <li><a href="/instructors/1">Exercises</a></li>
              <li><a href="/instructors/2">Homework</a></li>
              <li><a href="/instructors/3">Lectures</a></li>
              
              <li class="divider"></li>
              
              <li><a href="/instructors/4">Projects</a></li>
              <li><a href="/instructors/5">Stretch Goals</a></li>
              <li><a href="/instructors/6">Warmups</a></li>
              
              <li class="divider"></li>
              
              <li><a href="/instructors/admin">Admin</a></li>

            </ul>
          </li> <!-- End of instructors dopdown -->
        </ul> <!-- End of navbar-nav -->
        
        <ul class="nav navbar-nav navbar-right">
        {% if status===0  %}
           <li><a href="/login">Login</a></li>
           <li><a href="/registration">Register</a></li>
        {% else %}
           <li><a href="/logout">Logout</a></li>
         {% endif %} 
         
        </ul> <!-- End of navbar-right -->
      
      </div><!-- End of Container Fluid -->
    
    </nav> <!-- End of Navbar -->


    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
