{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h3>Please, Rate Your Recent Experiences</h3>
        <br>
      </div>
    </div>

      <form class="form-horizontal" method="post" action="/students/addrating">
        <fieldset>
        
        {% for row in data %}
        <div class="col-md-6">
          <legend style="width: 80%;">{{ row.type }}: <br> {{ row.title }}</legend>
          
          <div class="form-group" style="width: 90%; padding-left:15px;">
            <label for="select">How did it go?</label>
              <select name="{{ row.id}}" class="form-control" id="select">
                <option></option>
                <option value='1' >1-I didn't do it</option>
                <option value='2'>2-It was really hard</option>
                <option value='3'>3-I tried, but I didn't finish</option>
                <option value='4'>4-I finished, but have questions</option>
                <option value='5'>5-It was very easy</option>
              </select>
          </div>
          <br>
          <br>
          </div>
          {% endfor %}

          <div class="form-group">
            <div class="col-md-4">
              
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
  </div>

{% endblock %}

