{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
<form class="form-horizontal" method="post" action="/students/addrating">
  <fieldset>
  {% for row in data %}
    <legend>{{ row.type }} | {{ row.title }}</legend>


    
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Rating</label>
      <div class="col-lg-10">
        <select name="{{ row.id}}" class="form-control" id="select">
          <option></option>
          <option value='1' >1-I didn't do it</option>
          <option value='2'>2-It was really hard</option>
          <option value='3'>3-I tried, but I didn't finish</option>
          <option value='4'>4-I finished</option>
          <option value='5'>5-It was very easy</option>
        </select>
        <br>
      </div>
    </div>
    {% endfor %}
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
  </div>

{% endblock %}

