{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
  
    <div class="row">
      <div class="col-md-12 center">
        <h3>Hey {{ name }}, Here are All Your {{ data[0].type }}s</h3>
        <br>
      </div>
    </div>

    <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Type</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
   {% for row in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="{{ row.link }}" alt="{{ row.title }}">{{ row.title }}</a></td>
      <td>{{ row.type }}</td>

     {% if row.rating > 0 %}

      <td>{{ row.rating }}</td>

      {%  else %}

      <td><a href="/students">Rate now</a></td>

      {% endif %}
      <td>{{ row.assignmentDt|date('Y-m-d') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 

  </div>

{% endblock %}
