body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table{
  padding: 20px;
}

 a {
  text-decoration: none !important;
  color: #00B7FF;
}

.center {
  text-align: center;

}
.sort {
  font-size: 16px;
  color: black;
}

.glyphicon{
  font-size: 2em;
}

.glyphicon.red{
  color: red;
}

.glyphicon.orange{
  color: orange;
}

.glyphicon.green{
  color: green;
}

.rating{
  font-weight: 500;
  font-size: 2em;
}

.admin-li{
  font-size: 2em;
  line-height: 150%;
  color: #2780e3;
}

.admin-title{
  margin: 0 ;
}